
/*added this to effect the html and body of each page, originally my material caused the margins to expand 
and the gradient background could not fill the empty space, by doing this the gradient fills the whole background*/
html,body{
    height:100%;
    width:98%;
    background-image: linear-gradient(#ebf4f5, #b5c6e0);
    background-attachment: fixed;
}

/*my navbar class, I kept the position absolute as I wanted to ensure it stayed exactly in the laft hand corner on everypage and force other containers to format around it*/
.navbar{
    position: absolute;
    left: 50px;
   top: 0px;
}

/*class made specifically for the image of me on the landing page*/
.image{
    position: relative;
    right: -1000px;
    top: 250px;
    text-align: center;
    width: 150px;
}

/*paragraph class*/
.paragraph{
font-family: 'Times New Roman', Times, serif;
font-size: medium;
}

/*a class I made to make links look like buttons, it makes them appear as gray boxes with a white border, the text is aligned in the center*/
.button{
    background-color: #3c3f3e; 
  border-style: solid;
  border-width: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  transition: 0.3s;
}

/*this is how I make the cool fade tansition when you hover over the buttons*/
.button:hover{
    background-color: transparent;
        color: white; 
}

/*simple calss for my degreebar section*/
.degreebar{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}

/*classes for articles to make some of the containers fit on screen more cohesively*/
.article{
    position: relative;
    top: -150px;
    left: 150px;
    text-align: center;
    width: 500px;

}

.article2{
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}
.article3{
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

.article4{
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1500px;
}

.article5{
    position: relative;
    top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

.article6{
    position: relative;
    top: 85px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

/*styles the table elements, creating borders between the cells*/
table, th, td {
    border: 1px solid;
  }

 
  /*header class*/
.header{
    text-align: center;
}

/*class for my footer*/
.footer{
    position: relative;
    bottom: -300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

}

/*class for titles*/
.title{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}


